
.container-fluid{
	border:1px solid red;
	height: 100px;
	padding: 10px 15px;
}

.container{
	border:1px solid blue;
	height: 80px;
}

.a11{
	border:1px solid green;
	height: 20px;
	margin: 10px 15px;
}
.a12{
	border:1px solid green;
	height: 20px;
	margin: 10px 15px;

}
.b{
	border:1px solid red;
	height: 80px;
	margin-top: 5px;
}
.container1{
	border: 1px solid red;
	height: 60px;
	margin: 10px;
	
}
.container-fluid2{
	border: 1px solid red;
	height: 375px;
	margin-top: 5px;
}
.container2{
	border:1px solid red;
	margin: 5px 30px;
	height: 360px;
}
.c11{
	float:left;
	border: 1px solid blue;
	height: 340px;
	width: 450px;
	margin: 5px 5px 5px 40px;
}
.c12{
	float:left;
	border: 1px solid blue;
	height: 340px;
	width: 200px;
	margin: 5px;
}
.d{
	margin-top: 5px;
	border: 1px solid red;
	height:40px;
}
.d11{
	border:1px solid blue;
	height: 20px;
	width: 780px;
	margin: 5px;
}